extends layout

block content
  h1= title
  p Welcome to #{title}

  div
    a(href="http://localhost:3001/menu") Show menu
  div
    a(href="http://localhost:3001/menu/categories") Show categories
  div
    a(href="http://localhost:3001/menu/pizza") Show pizza list details
  div
    a(href="http://localhost:3001/menu/pizza/0") Show one pizza details